div,
a,
p,
span,
li,
ul,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  color: #333333;
  background-color: transparent;
  font-size: 13px;
  text-align: center;
}
div:hover,
a:hover,
p:hover,
span:hover,
li:hover,
ul:hover,
h1:hover,
h2:hover,
h3:hover,
h4:hover,
h5:hover,
h6:hover {
  text-decoration: none;
  color: #333333;
}
.wjs-header {
  width: 100%;
  line-height: 50px;
  border-bottom: 1px solid #CCCCCC;
}
.wjs-header .row > div:nth-child(-n+3) {
  border-right: 1px solid #CCCCCC;
}
.wjs-header .row > div:nth-child(1):hover a > img {
  display: block;
}
.wjs-header .row > div:nth-child(1) a {
  position: relative;
}
.wjs-header .row > div:nth-child(1) a > img {
  position: absolute;
  bottom: -126px;
  left: 0;
  padding: 5px;
  border: 1px solid #cccccc;
  width: 100%;
  border-top: none;
  z-index: 999;
  background-color: #fff;
  display: none;
}
.wjs-header .querstion li {
  float: left;
}
.wjs-header .querstion li:nth-of-type(1) {
  float: left;
}
.wjs-header .querstion li:nth-of-type(2) {
  float: right;
}
.wjs-nav {
  margin-bottom: 0;
}
.wjs-nav .container .navbar-toggle {
  margin-top: 23px;
}
.wjs-nav .container .navbar-brand {
  height: 80px;
  line-height: 50px;
}
.wjs-nav .container .navbar-brand span {
  font-size: 36px;
}
.wjs-nav .container .navbar-brand span:nth-of-type(1) {
  color: #e92322;
}
.wjs-nav .container .navbar-left li.active a {
  box-sizing: border-box;
  border-bottom: 3px solid #e92322;
}
.wjs-nav .container .navbar-left li a {
  line-height: 50px;
  font-size: 16px;
}
.wjs-nav .container .navbar-left li a:hover,
.wjs-nav .container .navbar-left li a:focus {
  border-bottom: 3px solid #e92322;
}
.wjs-nav .container .navbar-right li.active a {
  box-sizing: border-box;
  border-bottom: 3px solid #e92322;
}
.wjs-nav .container .navbar-right li a {
  line-height: 50px;
  font-size: 16px;
}
.wjs-nav .container .navbar-right li a:hover,
.wjs-nav .container .navbar-right li a:focus {
  border-bottom: 3px solid #e92322;
}
.wjs-nav .container .navbar-right li {
  border-bottom: none !important;
}
.wjs-banner {
  width: 100%;
}
.wjs-banner .item {
  width: 100%;
}
.wjs-banner .item .pcImg {
  background-size: cover;
  background-position: center center;
  height: 410px;
  display: block;
}
.wjs-banner .item .mobilImg {
  width: 100%;
}
.safety .deal {
  padding: 10px 20px;
  position: relative;
}
.safety .deal:hover > .safelogo {
  color: #e92322;
}
.safety .deal:hover > .saferight h3,
.safety .deal:hover > .saferight p {
  color: #e92322;
}
.safety .deal .safelogo {
  font-size: 36px;
  color: #333333;
  position: absolute;
  top: 10px;
  left: 20px;
}
.safety .deal .saferight {
  margin-left: 50px;
}
.safety .deal .saferight > h3,
.safety .deal .saferight p {
  text-align: left;
  color: #333333;
}
.safety .deal .saferight > h3 {
  font-weight: normal;
  font-size: 22px;
  line-height: 30px;
}
.safety .deal .saferight > p {
  font-size: 14px;
}
